main {
	background-image: -webkit-linear-gradient(
		65deg,
		royalblue 50%,
		#e4e9fd 50%
	) !important;
	height: 100vh;
}

main h1 {
	margin: 1em auto;
	color: royalblue;
}
#todo {
	margin: 2em auto;
}

#todo-form {
	height: 15vh !important;
	width: 80% !important;
}
#tasks {
	width: 80% !important;
}

input:checked + span {
	text-decoration: line-through;
	text-decoration-color: royalblue;
	text-decoration-thickness: 4px;
}

.shadow {
	border-radius: 5px;
	box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

input[type='text']:focus {
	outline: none;
	box-shadow: inset 0 -3px 0 0 royalblue;
}

/* style for smaller screens*/
@media (max-width: 700px) {
	body,
	main,
	h1,
	h2,
	p,
	form,
	div,
	div.list-group,
	label {
		font-size: 1rem;
		display: block;
		width: 100% !important;
		box-sizing: border-box !important;
	}
	#todo {
		padding: 0;
		width: 100vw !important;
		display: block;
	}
	button {
		width: 90% !important;
		margin: 2em 1em;
	}
}
